*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Inter';
  height: 361px;
  width: 282px;
  position: relative;
      
  }
  
  .card__image {
    width: 352px;
    height: 282px;
   object-fit: cover;
   display: block;
  }
  
  .card__image:hover {
    cursor: pointer;
  }


  .card__container-title-likebtn {
    display: flex;
    justify-content: space-between;
    top:10px;
    right: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s;
    padding: 25px 15px 31px 21px;
    align-items: center;
  }


  

  .card__content {
    width: 80%;
  color: #000;
  font-weight: bold;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  text-align: left;
}
  .card__button-heart { 
    background-color: #ffffff;
    width: 24px;
    height: 24px;
    border: 1px solid rgb(255, 255, 255);
  }
  
  .card__button-heart:hover {
  
    cursor: pointer;
    background-color: #fff9f9;
  }
  .card__button-heart:active {

    cursor: pointer;
    background-color: #000000;
  }
  .card__description {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    justify-content: space-between;
    padding: 15px 15px 20px 0;
  }
  
  .card__title {
    width: 80%;
    color: #000;
    font-weight: bold;
    font-size: 24px;
    padding-left: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
  }
  
  .card__add-button {
    background: rgba(255, 255, 255, 0);
    background-position: center;
    width: 20px;
    height: 20px;
    align-self: center;
    transition: 0.5s;
  }

  
  .card__add-button:hover {
    opacity: .6;
    cursor: pointer;
    transform: scale(1.15);
    transition: 0.5s;
  }
  
  @media screen and (max-width: 759px) {
    .card__title {
      font-size: 18px;
      padding-left: 15px;
    }
  }



 @media screen and (max-width: 320px) {

  .card {
    width: 90%;
    margin: 0 auto 10px auto;
  }
 }