.footer {
    margin: 65px 0 0;
    width: 318px;
    display: block;


  }

  .footer__copyright {
    color: #545454;
    margin: 0;
    text-align: center;
    white-space: nowrap;
  }

  @media screen and (max-width: 718px) {
    .footer__copyright {
      font-size: 14px;
      text-align: center;

    }
}