.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
 @media screen and (max-width: 978px) {

    .gallery {
        grid-template-columns: repeat(2, 1fr);
        margin-right: 0;

 }
    
}
  
  @media screen and (max-width: 718px) {
    .gallery {
      grid-template-columns: 1fr;
      justify-content: center;
      
      
}
  }