.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #000;
  color: #FFF;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  padding: 45px 200px 60px;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 1105px) {
  .page {
    padding: 45px 50px 60px;
  }
}

@media screen and (max-width: 720px) {
  .page {
    padding: 0;
  }
}